@model FantasyBasketball.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Position.positionDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.positionDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.teamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.teamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.playerLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.playerFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.playerFirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.playerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
